@media screen and (max-width: 768px ) {

    h2,h3{
        font-size: 17px;

    }
    p{
        font-size: 15px
    };
    /*****************************************contenu************************************/
    article{
        margin: 20px 20px 20px 0px;
        padding: 17px;
    }
    h1{
        font-size: 35px;
    }
    main{
        flex-direction: column;
        margin: 15px 15px 15px 0px;
        padding: 22px ;
    }
    .sider{
       margin-left: 40px;
    }
    .head{
        display: block;
    }


    /***********************************footer*************/
footer{
    writing-mode:horizontal-tb;
    
    align-items: center;
    display: flex;
    justify-content:center;
    padding-right: 10px;
    flex: 1;
    width: auto;
    
   
}

.loby{
   width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    
}
#currentp{
    font-size: 25px;
    
}
#loby{
    font-size: 17px;
    bottom: 20px;
    
}


/*********************************************************langages***/
.logo{
    margin: 15px;
}
.logocss{
    margin: 15px;
    padding-left: 9px;
}
.langlogo{
    overflow-x: scroll;
    height: 250px;
    justify-content: left;
    

    
}


#asidelang{
    margin: 0;
}

.langlogo{
    margin:0
}
   

/*************************************************intro******************/
.textimgl{
    flex-direction: column;
    
    
}

strong{
    font-size: 18px;
}


/**************************front/back*/
.bfexplain{
    flex-direction: column;
    align-items: center;

  }
  .bfexplain :nth-child(2){
    margin-left: 30px;
  }

  .bfexplain :first-child{
    width: 300px;
    height: 300px;
    display: block;
  }
  aside img{
    display: none;
  }

  /***************************etapes*/
  .illustration{
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
}

body{
    display: block;
}


}

 





